{% extends 'dac/base.html' %}
{% block title_block %}
	About us
{% endblock %}
{% block jumbo_block %}
	About us
{% endblock %}
{% block body_block %}
	<!-- style for github repo link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<div class="container ">
		<div class="row justify-content-center">
			<p>
				At draught and craft we want to connect beer enthusiasts with businesses that
				provide only the best craft beers to their customers. Don't know where a particular
				beer is stocked? Just search for it and you can view all the available stockists
				of a particular beer, its that easy!
			</p>
			<a href="https://github.com/David132639/draughtcraft">
				<i class="fab fa-github">
					Check out the project on github
				</i>
			</a>
		</div>
	</div>
{% endblock %}
