<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
  <title> Draught and Craft -
    {% block title_block %}
      Find Your beer here
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>


  <link rel="stylesheet" href={% static 'masterstyle.css' %} />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Draught and Craft</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'beers' %}">Beers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pubs' %}">Pubs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>

        <li>
        	<!--proabably need to find a way to center this-->
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_details' %}">Hey there {{ user.username }}!</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_logout' %}">Log Out</a>
          </li>

        {% else %}

      	<li class="nav-item">
          <a class="nav-link" href="{% url 'auth_login' %}">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
        </li>

        {% endif %}

      </ul>


    </div>
  </nav>

  <nav class="navbar navbar-light bg-light fixed-bottom nav-fill">
      <div class="nav-link"></div>
      <a class="nav-link" href="#">Site Map</a>
      <a class="nav-link" href="{% url 'about' %}">About Us</a>
      <a class="nav-link" href="{% url 'privacy' %}">Privacy Policy</a>
      <div class="nav-link"></div>
  </nav>


  {% block body_block %}
  {% endblock %}

</body>
