{% extends 'dac/base.html' %}
{% load staticfiles %}
{% block title_block%}
  {{ beer.name }}
{% endblock %}
{% block body_block %}
  <div class="container w-100">
    <div class="row">
      <div class="col-lg-2">
        <img class="beer_image" src="{{ MEDIA_URL }}{{ beer.image }}" alt="an image of {{ beer.name }}">
      </div>
      <div class="col-lg-10">
        <div class="row">
          <strong> {{ beer.name }} </strong>
          <p class="description" id="description">{{ beer.description }}</p>
        </div>
        <div class="row">
          {% if avg %}
            Rated {{avg|floatformat:-2}} out of 5 &nbsp;
            <a href="{% url 'beer_reviews' beer.slug %}">&nbsp;View all reviews</a>

          {% else %}
            No reviews yet...
          {% endif %}
        </div>
        <div class="row">
          {% if user.is_authenticated %}
            Why not: &nbsp; <a href="{% url 'beer_add_review' beer.slug %}">Add a review</a>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-md-4">
            <strong>Ingredients</strong><br/>
            <ul id="ingredients">
              {% for ingredient in beer.ingredients.all %}
              <li> {{ ingredient }} </li>
              {% endfor %}
          </div>

          <div class="col-md-4">
            <strong>Tasting notes</strong>
              <ul id="flavours">
                {% for flavor in beer.flavors.all %}
                  <li>{{ flavor.name }}</li>
                {% endfor %}
              </ul>
          </div>

          <div class="col-md-4">
            <strong>Stockists</strong>
            {% if stockists %}
              <ul>
                {% for stocker in stockists %}
                  <li> <a href="{% url 'pubs' stocker.slug %}">{{stocker.name}}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              </br>
              This beer is not stocked anywhere... yet
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
