{% extends 'dac/base.html' %}
{% load staticfiles %}
{% load dac_extras %}
{% block title_block%}
    List of beers
{% endblock %}
{% block body_block %}
<script src="{% static 'reading.js' %}"></script>
    <div class="container w-100">
        <div class="row justify-content-center">
            <div class="col-md-12"><h2>All Available Beers</h2> </div>
        </div>
        
        {% for beer in beers %}
            <div class="row list_item .row-eq-height justify-content-center">
                <div class="col-md-4">
                    <img class="img-thumbnail beer_thumbnail" src="{{ MEDIA_URL }}{{ beer.image }}" alt="an image of {{ beer.name }}">
                </div>
                <div class="col-md-8">
                    <a href="{% url 'beers' beer.slug %}"> {{ beer.name }}
                    {{ beer.tagline }}</a>
                    <p>{{ beer.description|getShort}}
                    {% if beer.description|getLong != " " %}
                        <a href="#" class="read-more">read more</a>
                        <span class="hide">
                        {{beer.description|getLong}}
                        <a href="#" class="read-less">read less</a>
                        </span>
                    {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}