{% extends 'dac/base.html' %}
{% load staticfiles %}
{% block title_block%}
  Index
{% endblock %}
{% block jumbo_block %}
Welcome to the home of good beer
{% endblock %}
{% block body_block %}
  <!-- maybe a jumbotron here?-->


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">Top Beers</div>
          <div class="card-body">
            <!--django beer stuff in here-->
            {% if beers %}
              {% for beer in beers %}
              <div class="row">
                  <div class="col-md-6">  <a href="{% url 'beers' beer.slug %}">{{ beer.name }}</a>
              {{ beer.tagline }}</div>

              <div class="col-md-6">
                  <img class="img-thumbnail" src="{{ MEDIA_URL }}{{ beer.image }}" alt="an image of {{ beer.name }}">
              </div></div>



              {% endfor %}
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">Top Pubs</div>
          <div class="card-body">
            <!--django bar stuff in here-->
            {% if business %}
              {% for pub in business %}
                <a href="{% url 'pubs' pub.slug %}"> {{ pub.name }}</a>
                {{ pub.description }}<br/>
              {% endfor %}
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
