{% extends 'dac/base.html' %}
{% load staticfiles %}
{% block title_block%}
  Main page
{% endblock %}
{% block body_block %}
  <div class="container">
    <div class="row">
          <div class="col-md-6">Popular Beers: <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel eleifend quam, at congue ligula. Nam commodo porttitor quam, eu iaculis justo vehicula et. Curabitur sed tristique augue. Sed lobortis condimentum neque congue scelerisque. Fusce tincidunt imperdiet fermentum. Proin finibus turpis vel vestibulum mattis. Maecenas facilisis euismod porttitor. Phasellus vitae elit aliquam, porta mi ut, aliquet magna. Duis viverra, turpis ac consequat auctor, magna ante pellentesque orci, sit amet malesuada metus massa vel erat. Etiam aliquet congue accumsan.

          Aenean id mi quis eros sagittis accumsan at a felis. Vestibulum eget risus dignissim, convallis erat sit amet, malesuada ex. Morbi tempus sollicitudin posuere. Nulla ultricies pretium tortor, a venenatis sapien tempor ut. Aliquam id fermentum ligula. Vivamus consectetur enim ut lectus efficitur molestie. Nullam sed sapien viverra, ullamcorper turpis eu, sagittis metus. Fusce varius ex id nibh aliquet, in elementum quam aliquet.</div>
          <div class="col-md-6">Popular Pubs: <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis vehicula nisl, id venenatis augue. Mauris elementum, dui lacinia volutpat iaculis, nisi arcu mattis turpis, porta sollicitudin justo metus vitae ex. In vitae odio nec tortor dapibus fringilla. Duis at justo vestibulum, cursus justo sed, ullamcorper turpis. Suspendisse potenti. Nullam suscipit fringilla turpis quis viverra. Mauris cursus sem eu dolor pulvinar tempus. In hendrerit sem neque, vitae accumsan mauris pharetra faucibus. Phasellus finibus mollis auctor. Pellentesque lacinia lacus vel imperdiet eleifend.

          Quisque et dignissim dolor. Pellentesque aliquam ex id neque auctor, vel tincidunt velit tincidunt. Nunc at egestas dolor. Donec sollicitudin magna quis dictum vestibulum. Curabitur nunc arcu, aliquet quis auctor sit amet, eleifend non metus. Integer accumsan aliquet felis, vitae facilisis metus. Proin posuere justo eu felis gravida ultrices. Sed semper diam ac elit viverra, a aliquet dolor aliquet. Sed a facilisis quam. Nulla aliquet odio ante, in consequat purus feugiat a. Morbi volutpat metus velit, elementum malesuada est consequat sed.

          </div>
    </div>
  </div>

{% endblock %}
