{% extends 'dac/base.html' %}
{% load staticfiles %}
{% block title_block%}
  Index
{% endblock %}
{% block body_block %}
  <!-- maybe a jumbotron here?-->


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">Top Beers</div>
          <div class="card-body">
            <!--django beer stuff in here-->
            {% if beers %}
              {% for beer in beers %}
                <a href="{% url 'beers' beer.slug %}">{{ beer.name }}</a>
                {{ beer.tagline }}
                <br/>
              {% endfor %}
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">Top Pubs</div>
          <div class="card-body">
            <!--django bar stuff in here-->
            {% if pubs %}
              {% for pub in pubs %}
                {{ pub.name }}
                {{ pub.description }}<br/>
              {% endfor %}
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}