{% extends 'dac/base.html' %}
{% block title_block %}
	Privacy policy
{% endblock %}
{% block body_block %}


<div class="jumbotron"><h1>Privacy Policy</h1></div>

<div class="container w-100">
	

<div class="column justify-content-center">
	
	<p> This privacy policy sets out how Draught and Craft uses and protects any information that you give
		us -Draught and Craft- as you use the website</p> <br/>

	<strong>What We Collect</strong>
	<ul>
		<li>Your email address</li>
		<li>Your businesss address -business users only-</li>
	</ul>

	<strong>What We Do With Your Data</strong>
	<ul>
		<li>Internal record keeping</li>
		<li>We may also use your data to improve the services that this web application provides</li>
	</ul>

	<strong>Security Considerations</strong>
	<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure we have put in place suitable electronic procedures to safeguard and secure the information we collect online.</p>



	

</div>




</div>


{% endblock %}