{% extends 'dac/base.html' %}
{% load staticfiles %}
{% block title_block %}

{{ pub.name }}

{% endblock %}
{% block body_block %}
<script src="{% static 'map.js' %}"></script>

<div class="container w-100">
  <div class="row">
    <div class="column-md-4">
      <img class="pub-thumbnail" src="{{ MEDIA_URL }}{{ pub.image }}" alt="an image of {{ pub.name }}">
    </div>
    <div class="column-md-5 float-right">
      <strong> {{pub.name}} </strong><br>
      (added by {{pub.owner.user.username}}) <br>
      <em>{{pub.address}}</em> <br>
      <p class="description">{{pub.description}}</p>
    </div>
    <div class="col-md-3">
      {{ pub.name }} stocks:
      <ul>
        {% for beer in pub.beers.all %}
        <li><a href="{% url 'beers' beer.slug %}"> {{ beer.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
</div>



<!-- this is stuff realted to the google maps api -->
<div id="map" data-name="{{pub.slug}}"></div>




<!--keep me before div map the bottom -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhirIPKrHsY6xXlRXMHFehpFEflNAqrEU&callback=initMap">
    </script>

<!--end of map stuff-->

{% endblock %}
