{% extends 'dac/base.html' %}
{% block title_block %}
	{{ user.username }}
{% endblock %}
{% block jumbo_block %}
	Hey {{ user.username }}, please personalise your account
{% endblock %}
{% block body_block %}
{% load staticfiles %}
	<script src="{% static 'js/auto.js' %}"></script>
	<script src="{% static 'js/changeDisplayImage.js' %}"></script>

	<div class="container ">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-8">
					<img src="{{ MEDIA_URL }}{{profile.image}}" id="displayImg" class="float-left img-fluid profile_img"></img>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group ui-widget" >
					<!-- Form has differen parameters depending on user type -->
					<form class="form-inline" id="user_profile_form" method="post" action="{% url 'user_details' %}" enctype="multipart/form-data" >
						{% csrf_token %}
						{% for form in forms %}
							<div class="row">
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}
								{% for field in form.visible_fields %}
									<div class="col-md-5">
										{{ field.help_text }}
										{{ field.errors }}
									</div>
									<div class="col-md-7">
										{{ field }}
									</div>
								{% endfor %}
							</div>
						{% endfor %}
						<input class="btn btn-primary" type="submit" name="submit" value="Submit new choices" />
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
