{% extends "dac/base.html" %}
{% block title_block %}
	Login
{% endblock %}
{% block jumbo_block %}
	Login
{% endblock %}
{% block body_block %}
	<div class="container w-100">
		<div class="row justify-content-center">
			<form method="post" action=".">
				{% csrf_token %}
				{{ form.as_p }}
				<div class="col">
					<input type="submit" value="Log in" />
					<input type="hidden" name="next" value="{{ next }}" />
					<p>
						Not a member?
						<a href="{% url 'registration_register' %}">Register</a>
					</p>
				</div>
			</form>
		</div>
	</div>
{% endblock %}