body {
  margin-top: 100px;
  margin-bottom: 70px;
}

.btn-primary {
  margin-top: 20px;
}

.profile_img {
  width: 27vw;
  min-width: 30%;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.hide{
  display: none;
  }

.beer_image{
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.beer_thumbnail{
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pub-thumbnail{
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row{
  margin-top:15px;
}

/* .list_item{
height: 25%;
} */

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-thumbnail{
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
