 body {
   margin-top: 100px;
   margin-bottom: 70px;
 }

.btn-primary {
  margin-top: 20px;
}

.profile_img {

	width: 27vw;
	min-width: 30%;


}

.hide{
	display: none;
}

.beer_image{
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 .beer_thumbnail{
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row{
  margin-top:15px;
}

/* .list_item{
  height: 25%;
} */
