<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body {
          background-color: rgb(133, 228, 170);
          color: azure;
          font-family: monospace;
          text-align: center;
          
        }
        spoink{
            padding:50px;
        }
        h2{text-decoration-line: underline;}
        h3{padding:10px ;text-decoration-line: underline;}

        div .row
        {
          padding: 5px;
        }
        div.col-sm-3 {padding-top:70px;}
        </style>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="index.html"type="button" class="btn btn_info navbar-btn">
          <span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="#">Beers</a></li>
          <li><a href="#">Bars</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
        </ul>

        <form class="navbar-form navbar-right" action="/action_page.php">
            <div class="form-group">
              <input type="text" class="form-control" name="Search" placeholder="What are you looking for...">
            </div>
        </form>
      </div>
    </nav>


    <div class="row ">
        <div class="col-sm-3">
            <img src="beer1.jpg" height="60%" width="50%" />
          </div>
   
         <div class="col-sm-2">
              <h2>Beer name</h2</div>
                <h3>Description</h3>
                <p1>Sample paragraph Sample paragraph Sample paragraph Sample paragraph Sample paragraph Sample paragraph</p1>
                <h3>Ingredients</h3>
                <p1>Sample paragraph Sample paragraph Sample paragraph Sample paragraph Sample paragraph Sample paragraph</p1>
            </div>
           <div class="col-sm-7">
               <div class="spoink">
               <h3>Reviews(Total number of reviews)</h3>
               <h3>Tasting notes</h3>
               <p1>Sample paragraph Sample paragraph Sample paragraph Sample paragraph Sample paragraph Sample paragraph</p1>
               </div>
           
     </div>
  
    
</div>

     
        

    
             







     <div class="row navbar navbar-fixed-bottom">
        <div class="col-sm-2 col-sm-offset-3">
            <a href="#">Sitemap</a>
        </div>
        <div class="col-sm-2">
            <a href="#">About us</a>
        </div>
        <div class="col-sm-2">
            <a href="#">Privacy policy</a>
        </div>
    </div>

  </body>
</html>